target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.idea/
.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
out/
metastore_db/
nbdist/
.nb-gradle/